{% load i18n %}
<footer class="footer">
    <div class="container-fluid">
    {% block footer %}
        <ul class="footer-links">
            <li>
                <h3>
                    <a class="hide pull-right" data-toggle="collapse" data-target=".footer-list-01"><i class="icon-plus"></i></a>
                    {% trans "关于我们" %}
                </h3>
                <ul class="nav-collapse footer-list-01">
                    <li><a href="intro">{% trans "网站简介" %}</a></li>
                    <li><a href="history">{% trans "网站历史" %}</a></li>
                    <li><a href="sitemap">{% trans "网站地图" %}</a></li>
                    <li><a href="legal">{% trans "免责声明" %}</a></li>
                </ul>
            </li>
            <li>
                <h3>{% trans "联系我们" %}</h3>
                <p>
                    {% trans "741 xxxxx St," %} <br/> {% trans "Shanghai China" %} <br/>
                    <strong><i class="icon-mobile"></i>{% trans "1-000-000-000" %}</strong>
                </p>
                <p class="social-icons">
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                </p>
            </li>
        </ul>
    {% endblock %}
    </div>
    <div class="footer-disclaimer">
        <div class="container-fluid">
            <a href="#" class="pull-right">{% trans "Site by JackyTu" %}</a>
            <p class="hidden-phone">
                <div>
                	©2015 NewBrandX 沪ICP证030173号 
                </div>
            </p>
        </div>
    </div>
</footer>
