{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load staticfiles %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">
                   <img src="{% static "demo/img/svg/logo.jpg" %}" class="logo" alt="{{ shop_name }} - {{ shop_tagline }}"  />
                </a>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "customer:summary" %}">{% trans "Account" %}</a>
                        <!--span class="divider">|</span-->
                    </li>
                    <!--li>
                        <a href="{% url "customer:notifications-inbox" %}">
                            {% trans "Notifications" %}
                            {% if num_unread_notifications > 0 %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            {% endif %}</a>
                            <span class="divider">|</span>
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                    <li class="hidden-phone">
                        <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>
                        <span class="divider">|</span>
                    </li-->
                <!--div>
                    {% endif %}
                </div-->
                    <li><a href="{% url "customer:logout" %}">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a href="{% url "customer:login" %}">{% trans "Login or register" %}</a></li>
                {% endif %}
                </ul>
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->