{% load i18n %}

<div class="container-fluid clearfix">
    {% if LANGUAGES|length > 1 %}
        <form id="language_selector" class="pull-left navbar-form" action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <select name="language">
                {% for language in LANGUAGES %}
                <option value="{{ language.0 }}" {% if LANGUAGE_CODE == language.0 %}selected="selected"{% endif %}>{{ language.1 }}</option>
                {% endfor %}
            </select>
            <button class="btn" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
        </form>
    {% endif %}

</div>
