{#% extends 'oscar/basket/partials/basket_content.html' %#}
{% load i18n %}

{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}
{#% load purchase_info_tags %#}

{% block basket_form_headers %}
{% endblock %}

{% block embeded_report %}
{% include report1 %}
{% endblock %}

{% block index_curve %}
<h2>奶粉指数曲线</h2>
{% include report2 %}
{% endblock %}

{% block index_others %}
<h2>其他品牌</h2>
其他品牌奶粉的历史记录
{% endblock %}


{% block index_history_best %}
<h2>历史最佳</h2>
<div class = "row">
<table class = "table table-hover">
    <tr><td>年份</td><td>冠军</td></tr>
    <tr><td>2015</td><td>美素佳儿</td></tr>
</table>
</div>
{% endblock %}
