{#% extends 'oscar/basket/partials/basket_content.html' %#}
{% load i18n %}

{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}
{#% load purchase_info_tags %#}

{% block basket_form_headers %}
{% endblock %}

{% block embeded_report %}
{% include report1 %}
{% endblock %}

{% block index_curve %}
<h2>奶粉指数曲线</h2>
{% include report2 %}
{% endblock %}

{% block index_history_best %}
<div class="content">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
<h2>历史最佳</h2>
{% include report3 %}
</div>
{% endblock %}
