{% extends "layout.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}

{% block body_class %}home-page{% endblock body_class %}

{% block header %}
{% endblock %}

{% block page_promotions %}
<div id="homepage-carousel" class="flexslider hidden-phone">
    <ul class="slides">
        <li>
            <a href="#"><img src="{% static "demo/img/carousel/homepage-banners-01.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  width="140" height="108" /></a>
        </li>
        <li>
            <a href="#"><img src="{% static "demo/img/carousel/homepage-banners-02.jpg" %}" alt="{{ shop_name }} - {{ shop_tagline }}"  width="140" height="108" /></a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    
    {% comment %}
        Markup on this page is somewhat temporary. Class wrappers with
        'widget' are probably to be used as fancypage widgets and will 
        be removed from here.
        'homepage-carousel' and structural classes could also be included in that statement.
    {% endcomment %}
    
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid">
                <table class="table table-hover">
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                    <tr><td>aaaaaa</td><td>bbbbbb</td><td>cccccc</td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
                    
